@import "node_modules/bootstrap/scss/bootstrap";

@import "header";

html,
body,
#root {
    height: 100%;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    background-color: #222;
    @font-face {
        font-family: "Roboto";
        src: url("/fonts/Roboto-Regular.ttf") format("ttf");
    }
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body.using-mouse {
    :focus,
    [class$="-is-focused"] {
        outline: none;
        box-shadow: initial;
    }
}

.flash-success {
    padding: 20px;
    background-color: #33a43a;
    color: white;
    margin: 20px 0px;
    border-radius: 4px;
}

.flash-error {
    padding: 20px;
    background-color: rgb(235, 47, 47);
    color: white;
    margin: 20px 0px;
    border-radius: 4px;
}

.error {
    color: red;
}

.error-border {
    border: 2px solid red !important;
}
