section.highScores {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    max-height: 300px;
    h4 {
        padding: 10px 20px;
    }
    .table-container {
        display: flex;
        flex: 1;
        max-height: 300px;
        table {
            width: 100%;
            padding-bottom: 20px;
            td, th {
                padding: 5px;
                padding-left: 20px;
            }
            thead {
                tr th {
                    &.index {
                        width: 50px;
                    }
                    &.score {
                        width: 100px;
                    }
                }
            }
            tr {
                border-bottom: 1px solid lightgrey;
            }
        }

    }
}
