section.highScores {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    min-height: 200px;
    table {
        width: 100%;
        thead {
            tr th {
                &.index {
                    width: 50px;
                }
                &.score {
                    width: 100px;
                }
            }
        }
        tr {
            border-bottom: 1px solid lightgrey;
        }
    }
}
