section.highScores {
    h4 {
        padding: 10px 20px;
    }
    border-radius: 3px;
    min-height: 200px;
    table {
        width: 100%;
        padding-bottom: 20px;
        td, th {
            padding: 5px;
            padding-left: 20px;
        }
        thead {
            tr th {
                &.index {
                    width: 50px;
                }
                &.score {
                    width: 100px;
                }
            }
        }
        tr {
            border-bottom: 1px solid lightgrey;
        }
    }
}
