section.login {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        label,
        button {
            margin-top: 20px;
        }
        button {
            margin-bottom: 20px;
        }
        a {
            display: inline;
        }
    }
}
