section.result {
    padding: 20px;
    table {
        width: 100%;
        thead {
            tr th {
                &.index {
                    width: 50px;
                }
                &.continent {
                    width: 100px;
                }
                &.value {
                    width: 110px;
                }
                &.correct_answer {
                    width: 180px;
                }
            }
        }
        tr {
            border-bottom: 1px solid lightgrey;
        }
    }
    button {
        margin-top: 10px;
    }
}
