section.result {
    flex: 1;
    height: 100%;
    p {padding: 20px 20px 0 20px;}
    table {
        margin-bottom: 20px;
        width: 100%;
        td, th {
            padding-left: 20px;
        }
        thead {
            tr th {
                &.index {
                    width: 50px;
                }
                &.score {
                    width: 70px;
                }
                &.value {
                    width: 130px;
                }
                &.correct_answer {
                    width: 180px;
                }
            }
        }
        tr {
            border-bottom: 1px solid lightgrey;
        }
    }
    form {
        padding: 0 20px;
    }
    button {
        margin: 20px 0 0 0;
    }
    form.set-username {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
