section.result {
    flex: 1;
    height: 100%;
    padding: 20px;
    table {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        thead {
            tr th {
                &.index {
                    width: 50px;
                }
                &.score {
                    width: 70px;
                }
                &.value {
                    width: 130px;
                }
                &.correct_answer {
                    width: 180px;
                }
            }
        }
        tr {
            border-bottom: 1px solid lightgrey;
        }
    }
    button {
        margin-top: 10px;
    }
}
